@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--color-brand: #0a192f;
	--color-brand-surface: #1e293b;
	--color-primary: #22d3ee;
	--color-secondary: #a78bfa;
	--color-tertiary: #fbbf24;
	--color-textc-primary: #56d2c6;
	--color-textc-secondary: #d1d5db;
	--color-textc-muted: #9ca3af;
	--color-state-success: #4ade80;
	--color-state-error: #f87171;
	--color-state-warning: #facc15;
}

* {
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
